.giant-quotes-quote {
    display:inline-block;
    font-family:sans-serif;
    margin:1em;
    max-width:20em;
    blockquote {
      display:inline-block;
      margin:0;
      padding:1em;
      position:relative;
      &:before {
        color:#f90;
        content:"\201C";
        font-size:4em;
        left:0;
        line-height:.75em;
        position:absolute;
        top:0;
        transform:scale(2, 4);
        transform-origin:top;
      }
      &:after {
        color:#f90;
        content:"\201D";
        font-size:4em;
        line-height:.75em;
        position:absolute;
        right:0;
        top:0;
        transform:scale(2, 4);
        transform-origin:top;
      }
      > * {
        padding:0 2em;
      }
      cite {
        color:#c60;
        display: block;
        font-style: normal;
        text-align: right;
        text-transform:uppercase;
      }
    }
  }