$blue-lt: #79ADDC;
$blue-dk: #2D75B4;

$peach-lt: #FFC09F;
$peach-dk: #FF8847;

$yellow-lt: #FFEE93;
$yellow-dk: #FFE033;

$green-lt: #ADF7B6;;
$green-dk: #58EE69;


//$neutral: #FCF5C7; // (lemon chiffon)
$neutral: #E5E4E2; // (platinum)