@use '../../styles/global' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;

// Map is styled using leaflet-container
.leaflet-container {
  height: 400px;
  width: 100%;
  // TODO - Make responsive
}

.parks-map {
  @include section-padding;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet

  &__header {
    text-align: center;
  }

  &__container {
    @include section-padding;
  }
}