@use '../../styles/mixins' as *;
@use '../../styles/typography' as *;
@use '../../styles/colors' as *;



.welcome {
  @include section-padding;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-size: 2.25rem;
    display: inline-block;
    text-align: center;
  }

  &__copy {
    text-align: center;
  }

  &__link {
    text-decoration: none;
    // Todo maybe add link color
  }

  &__logo {
    width: 256px;
    height: 256px;
    margin: 2rem;
  }

  &__app {
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    background-color: $peach-lt;
    border-radius: 4px;
    border: solid 2px $peach-dk;
    color: black;

  }
}